# Eat Safe, Love

## Notebook Set Up

In [3]:
# Import dependencies
import pandas as pd
from pymongo import MongoClient
from pprint import pprint

In [4]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [5]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [6]:
# review the collections in our database
print(mongo.list_database_names())

['admin', 'autosaurus', 'classDB', 'config', 'epa', 'fruits_db', 'local', 'met', 'petsitly_marketing', 'uk_food']

In [7]:
# assign the collection to a variable
establishments = db['establishments']

#### Output one document from the establishments Collection.

In [8]:
# Examine the document
pprint(db.establishments.find_one())

{'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.821311183521,
 'FHRSID': 647177,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6PY',
 'RatingDate': '2014-03-31T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65ccff81e29db7cb8cbc2df9'),
 'geocode': {'latitude': 51.086058, 'longitude': 1.196408},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/647177',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5}}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [9]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print("The number of establishments with a hygiene score of 20 is: ", count)

# Display the first document in the results using pprint
result = establishments.find_one(query)
if result:
    print()
    pprint("First document with a hygiene score of 20 is:")
    print()
    print(result)
else:
    pprint("No establishments found with a hygiene score of 20.")

The number of establishments with a hygiene score of 20 is:  41

'First document with a hygiene score of 20 is:'

{'_id': ObjectId('65ccff82e29db7cb8cbc492d'), 'FHRSID': 110681, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': '4029', 'BusinessName': 'The Chase Rest Home', 'BusinessType': 'Caring Premises', 'BusinessTypeID': 5, 'AddressLine1': '5-6 Southfields Road', 'AddressLine2': 'Eastbourne', 'AddressLine3': 'East Sussex', 'AddressLine4': '', 'PostCode': 'BN21 1BU', 'Phone': '', 'RatingValue': 0, 'RatingKey': 'fhrs_0_en-gb', 'RatingDate': '2021-09-23T00:00:00', 'LocalAuthorityCode': '102', 'LocalAuthorityName': 'Eastbourne', 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings', 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk', 'scores': {'Hygiene': 20, 'Structural': 20, 'ConfidenceInManagement': 20}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.27694, 'latitude': 50.769705}, 'RightToReply': '', 'Distance': 4613.888288172291, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'https://api.ratings.food.gov.uk/establishments/110681'}]}

#### I have limited the DataFrame output to 5 relevant columns.

In [10]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.DataFrame(list(establishments.find(query)))

# number of rows in DataFrame

numrows = len(hygiene_df)
print("The number of rows in hygiene_df is: ",numrows)
print()

# Print first 10 rows of seclected columns aof DataFrame.
hygiene_df[['BusinessName', 'BusinessType', 'LocalAuthorityName', 'RatingValue', 'scores']].head(10)

The number of rows in hygiene_df is:  41

,BusinessName,BusinessType,LocalAuthorityName,RatingValue,scores
0,The Chase Rest Home,Caring Premises,Eastbourne,0,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
1,Brenalwood,Caring Premises,Tendring,0,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI..."
2,Melrose Hotel,Hotel/bed & breakfast/guest house,Tendring,0,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
3,Seaford Pizza,Takeaway/sandwich shop,Lewes,1,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI..."
4,Golden Palace,Restaurant/Cafe/Canteen,Lewes,1,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI..."
5,Ashby's Butchers,Retailers - other,Southend-On-Sea,0,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
6,South Sea Express Cuisine,Restaurant/Cafe/Canteen,Southend-On-Sea,0,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
7,Golden Palace,Takeaway/sandwich shop,Rochford,0,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI..."
8,The Tulip Tree,Restaurant/Cafe/Canteen,Sevenoaks,1,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn..."
9,F & S,Retailers - other,Basildon,0,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [20]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {"LocalAuthorityName": {'$regex': "London"}, "RatingValue": {"$gte": 4}} 
results = list(establishments.find(query))

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print("Number of establishments with London as the Local Authority and RatingValue greater than or equal to 4:", count)
print("\n")
# Display the first document in the results using pprint
pprint(establishments.find_one(query))

Number of establishments with London as the Local Authority and RatingValue greater than or equal to 4: 33


{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65ccff82e29db7cb8cbc6347'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

#### I have limited the DataFrame ouput to 5 relevant columns.

In [12]:
# Convert the result to a Pandas DataFrame
query = {"LocalAuthorityName": {'$regex': "London"}, "RatingValue": {"$gte": 4}} 
high_rated_df = pd.DataFrame(list(establishments.find(query)))

# Display the number of rows in the DataFrame

count = establishments.count_documents(query)
print("Number of establishments with London as the Local Authority and RatingValue greater than or equal to 4:", count)
print()

# Display the first 10 rows of the DataFrame
high_rated_df[['BusinessName', 'BusinessType', 'LocalAuthorityName', 'RatingValue', 'scores']].head(10)

Number of establishments with London as the Local Authority and RatingValue greater than or equal to 4: 33

,BusinessName,BusinessType,LocalAuthorityName,RatingValue,scores
0,Charlie's,Other catering premises,City of London Corporation,4,"{'Hygiene': 5, 'Structural': 10, 'ConfidenceIn..."
1,Mv City Cruises Erasmus,Other catering premises,City of London Corporation,5,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM..."
2,Benfleet Motor Yacht Club,Other catering premises,City of London Corporation,4,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."
3,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,City of London Corporation,5,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."
4,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,City of London Corporation,5,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM..."
5,Mv Valulla,Other catering premises,City of London Corporation,5,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."
6,Tereza Joanne,Other catering premises,City of London Corporation,5,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM..."
7,Brick Lane Brews,Restaurant/Cafe/Canteen,City of London Corporation,4,"{'Hygiene': 10, 'Structural': 5, 'ConfidenceIn..."
8,The Nuance Group (UK) Limited,Retailers - other,City of London Corporation,5,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."
9,WH Smith,Retailers - other,City of London Corporation,5,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."

### 3. Finding Restaurants/Cafes/Canteens close to Penang Flavours Halal Restaurant with a Rating Value of 5,and low Hygiene scores.

In [24]:
#collection = db.establishments

# Define the query
query = {
    "BusinessType": "Restaurant/Cafe/Canteen",
    "RatingValue": 5,
    "geocode.latitude": {"$gte": 51.480142, "$lte": 51.500142},
    "geocode.longitude": {"$gte": 0.073840, "$lte": 0.093840}
}

# Define the projection
projection = {
    "BusinessName": 1,
    "BusinessType": 1,
    "RatingValue": 1,
    "geocode.longitude": 1,
    "geocode.latitude": 1,
    "scores.Hygiene": 1
}

# Executing the query with projection, sorting, and limiting
# top_5_establishments = db.establishments.find(query, projection).sort("scores.Hygiene", 1).limit(5)
top_5_establishments = collection.find(query, projection).sort("scores.Hygiene", 1).limit(5)


# Printing the results showing the above projection.
for establishment in top_5_establishments:
    print(establishment)
    print()

{'_id': ObjectId('65ccff83e29db7cb8cbca2f0'), 'BusinessName': 'KFC', 'BusinessType': 'Restaurant/Cafe/Canteen', 'RatingValue': 5, 'scores': {'Hygiene': 0}, 'geocode': {'longitude': 0.0887766, 'latitude': 51.4884997}}

{'_id': ObjectId('65ccff83e29db7cb8cbca28e'), 'BusinessName': 'Chick Chicken', 'BusinessType': 'Restaurant/Cafe/Canteen', 'RatingValue': 5, 'scores': {'Hygiene': 0}, 'geocode': {'longitude': 0.0897508, 'latitude': 51.4880687}}

{'_id': ObjectId('65ccff83e29db7cb8cbca397'), 'BusinessName': 'Kings Cafe', 'BusinessType': 'Restaurant/Cafe/Canteen', 'RatingValue': 5, 'scores': {'Hygiene': 0}, 'geocode': {'longitude': 0.0861158, 'latitude': 51.4892216}}

{'_id': ObjectId('65ccff83e29db7cb8cbca304'), 'BusinessName': 'Ambala & Karahi Ltd', 'BusinessType': 'Restaurant/Cafe/Canteen', 'RatingValue': 5, 'scores': {'Hygiene': 0}, 'geocode': {'longitude': 0.0885648, 'latitude': 51.4885934}}

{'_id': ObjectId('65ccff83e29db7cb8cbca1ee'), 'BusinessName': 'Dosa & Sambal Express', 'BusinessType': 'Restaurant/Cafe/Canteen', 'RatingValue': 5, 'scores': {'Hygiene': 0}, 'geocode': {'longitude': 0.091566, 'latitude': 51.4877576}}

### Creating DataFrame

### I have limited the display to 5 relevant columns. Note that geocode and scores are both nested dictionaries.

In [25]:
# create DataFrame    
close_businesses_df = pd.DataFrame(list(establishments.find(query)))

close_businesses_df[['BusinessName', 'BusinessType', 'RatingValue', 'geocode' ,'scores']].head(10)

,BusinessName,BusinessType,RatingValue,geocode,scores
0,TIWA N TIWA African Restaurant Ltd,Restaurant/Cafe/Canteen,5,"{'longitude': 0.0927429, 'latitude': 51.4870351}","{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM..."
1,Dosa & Sambal Express,Restaurant/Cafe/Canteen,5,"{'longitude': 0.091566, 'latitude': 51.4877576}","{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."
2,The Plumstead Pantry,Restaurant/Cafe/Canteen,5,"{'longitude': 0.083745, 'latitude': 51.4817727}","{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM..."
3,Chick Chicken,Restaurant/Cafe/Canteen,5,"{'longitude': 0.0897508, 'latitude': 51.4880687}","{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM..."
4,Spice Island,Restaurant/Cafe/Canteen,5,"{'longitude': 0.0812250003218651, 'latitude': ...","{'Hygiene': 5, 'Structural': 0, 'ConfidenceInM..."
5,KFC,Restaurant/Cafe/Canteen,5,"{'longitude': 0.0887766, 'latitude': 51.4884997}","{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."
6,Ambala & Karahi Ltd,Restaurant/Cafe/Canteen,5,"{'longitude': 0.0885648, 'latitude': 51.4885934}","{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."
7,Apna Grill,Restaurant/Cafe/Canteen,5,"{'longitude': 0.0857591, 'latitude': 51.4870876}","{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM..."
8,Kings Cafe,Restaurant/Cafe/Canteen,5,"{'longitude': 0.0861158, 'latitude': 51.4892216}","{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."
9,Cafe Deluxe,Restaurant/Cafe/Canteen,5,"{'longitude': 0.0857646, 'latitude': 51.4891019}","{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM..."

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [16]:
pipeline = [
    {"$match": {"scores.Hygiene": 0}},  # Use the nested field for matching
    {"$group": {
        "_id": "$LocalAuthorityName",   # Group by Local Authority Name
        "count": {"$sum": 1}            # Count establishments in each group
    }},
    {"$sort": {"count": -1}}            # Sort by count in descending order
]

result = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print(f"Number of documents in the result: {len(result)}")
print("\n")
# Print the first 10 results
for doc in result[:10]:
    print(doc)

Number of documents in the result: 55


{'_id': 'Thanet', 'count': 1130}
{'_id': 'Greenwich', 'count': 882}
{'_id': 'Maidstone', 'count': 713}
{'_id': 'Newham', 'count': 711}
{'_id': 'Swale', 'count': 686}
{'_id': 'Chelmsford', 'count': 680}
{'_id': 'Medway', 'count': 672}
{'_id': 'Bexley', 'count': 607}
{'_id': 'Southend-On-Sea', 'count': 586}
{'_id': 'Tendring', 'count': 542}

### I have limited the DataFrame output to 4 relevant columns.

In [17]:

# Convert the result to a Pandas DataFrame
query = {"scores.Hygiene": 0}

# Execute the query
hygiene_zero_docs = list(collection.find(query))

# Convert the query result to a Pandas DataFrame
#hygiene_zero_df = pd.DataFrame(query)
hygiene_zero_df = pd.json_normalize(hygiene_zero_docs)

# Calculate the number of rows in the DataFrame

numrows = len(hygiene_zero_df)
print("The number of rows in the DateFrame is: ", numrows)
#print("\n")

# Display the first few rows of the DataFrame
hygiene_zero_df[['BusinessName', 'BusinessType', 'LocalAuthorityName', 'scores.Hygiene']].head(10)

The number of rows in the DateFrame is:  16827

,BusinessName,BusinessType,LocalAuthorityName,scores.Hygiene
0,St Marys COE (aided) Primary School,School/college/university,Folkestone and Hythe,0
1,The Ships Galley,Pub/bar/nightclub,Folkestone and Hythe,0
2,Folkestone Trawlers Shop,Retailers - other,Folkestone and Hythe,0
3,Docker,Retailers - other,Folkestone and Hythe,0
4,Dr Legumes - Harbour Arm,Restaurant/Cafe/Canteen,Folkestone and Hythe,0
5,Custom Folkestone,Restaurant/Cafe/Canteen,Folkestone and Hythe,0
6,The Pilot,Pub/bar/nightclub,Folkestone and Hythe,0
7,Mariner,Pub/bar/nightclub,Folkestone and Hythe,0
8,Fish Shack,Takeaway/sandwich shop,Folkestone and Hythe,0
9,Greek Street,Takeaway/sandwich shop,Folkestone and Hythe,0